<%= form_for(@conversion) do |f| %>
  <% if @conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</h2>

      <ul>
      <% @conversion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_agent %><br>
    <%= f.text_field :user_agent %>
  </div>
  <div class="field">
    <%= f.label :host %><br>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :browser %><br>
    <%= f.text_field :browser %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
