<br/>
<div class="row">
  <div class="col-sm-6 col-sm-push-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Install your tracker</h3>
      </div>

      <div class="panel-body">
        <p>Add this script above your <code>&lt;/head&gt;</code></p>
        <textarea class="form-control" rows="1" onclick="this.focus();this.select()">
<script src="<%= ENV["javascript_client_path"] %>"></script></textarea>
        <br/>
        <p>Next, you need to <code>data-cr-id="<%= @tracker.tracking_id %>"</code> to the HTML tags that you want to track.
        <code><%= @tracker.tracking_id %></code> is the unique tracking code for your new report.</p>

        <p>
        You can add your tracking code to any of the following tags: <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, and <code>&lt;form&gt;</code>
        </p>
        <p>For example, a link tag:</p>
        <textarea rows="1" class="form-control" onclick="this.focus();this.select()"><a href="/sign-up" data-cr-id="<%= @tracker.tracking_id %>">Sign up</a></textarea>
        <br/>
        <p>In the case of a form:</p>
        <textarea rows="2" class="form-control" onclick="this.focus();this.select()">
<form action="/sign-up" method="post" data-cr-id="<%= @tracker.tracking_id %>">...</form></textarea>
        <hr/>
        <h5>I've installed it, what now?</h5>
        <p>We're waiting for your conversions! When your users start clicking/submitting your tracked
        tags, we'll start displaying data here. Can't wait? <%= link_to 'Click here to send a test conversion', @tracker, :'data-cr-id' => @tracker.tracking_id %>.</p>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag ENV["javascript_client_path"] %>


