<p id="notice"><%= notice %></p>

<p>
  <strong>User agent:</strong>
  <%= @conversion.user_agent %>
</p>

<p>
  <strong>Host:</strong>
  <%= @conversion.host %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @conversion.browser %>
</p>

<p>
  <strong>Os:</strong>
  <%= @conversion.os %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @conversion.ip_address %>
</p>

<%= link_to 'Edit', edit_conversion_path(@conversion) %> |
<%= link_to 'Back', conversions_path %>
