<div class="row">
  <div class="col-xs-12">
    <%= form_for(@tracker) do |f| %>
      <% if @tracker.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

          <ul>
            <% @tracker.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name, 'Name your report' %><br>
        <%= f.text_field :name, class: "form-control", disabled:!can_create_tracker %>
      </div>
      <div class="actions text-center">
        <%= f.submit class: "btn btn-primary btn-lg #{' disabled' unless can_create_tracker}" %>
      </div>
    <% end %>
  </div>
</div>

