<%= link_to 'New Tracker', new_tracker_path, class: "btn btn-sm btn-primary" %>

<div class="container-fluid">
  div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <a href="/trackers">Trackers <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Trackers</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @trackers.each do |tracker| %>
            <tr>
              <td><%= tracker.id %></td>
              <td><%= link_to tracker.name, tracker.name %></td>
              <td>
                <div class="btn-group">
        	  <%= link_to 'Edit', edit_tracker_path(tracker), class: "btn btn-sm btn-primary" %>
        	  <%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %>
        	</div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
