<div class="container">
  <% if @trackers.present? %>
    <div class="col-sm-10 col-sm-push-1">
      <h1 class="page-header">Trackers</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Created at</th>
              <th>Conversions count</th>
              <th>Rate per day</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @trackers.each do |tracker| %>
            <tr>
              <td><%= tracker.id %></td>
              <td><%= link_to tracker.name, tracker_path(tracker) %></td>
              <td><%= tracker.created_at %></td>
              <td><%= tracker.conversions.count  %></td>
              <td><%= tracker.conversions_per_day %></td>
              <td>
                <%= link_to 'Edit', edit_tracker_path(tracker), class: "btn btn-sm btn-primary" %>
              </td>
              <td>
                <%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="jumbotron">
      <h1>
        Get started
      </h1>
      <p>A tracker is your starting point. Trackers describe events that you want to track conversions on. That sign up button on the new landing page? Let's track conversions on that.
      <p>
      <%= render 'form' %>
    </div>
  <% end %>
</div>
